{%- if page.keywords %}
  <meta name="keywords" content="{{ config.keywords }},{{ page.keywords }}">
{% elseif config.keywords %}
  <meta name="keywords" content="{{ config.keywords }}">
{%- endif %}
